@import "tailwindcss";
@import "tw-animate-css";

body {
    @apply selection:bg-blue-500/5 selection:text-blue-500
}

.heading {
  @apply text-[28px]/[30px] tracking-[-0.01em] sm:text-[30px]/[32px] md:text-[34px]/[38px] lg:text-[40px]/[44px] font-medium text-balance;
}

.heading-small {
  @apply text-[24px]/[28px] tracking-[-0.01em] sm:text-[28px]/[32px] md:text-[32px]/[36px] lg:text-[36px]/[40px] font-medium text-balance;
}

.subheading {
  @apply text-[16px] text-[#333] sm:text-[18px] md:text-[20px] lg:text-[22px] text-balance;
}

.input-label {
  @apply  font-normal text-[13px] sm:text-[14px] md:text-[15px] lg:text-[16px];
}

.paragraph {
  @apply text-[18px]  sm:text-[20px] tracking-[0.5px] md:text-[22px] lg:text-[24px] max-w-4xl text-balance;
}

.big-paragraph {
  @apply text-[20px]  sm:text-[24px] tracking-[0.5px] md:text-[26px] lg:text-[28px] max-w-4xl text-balance;
}

.mini-text {
  @apply text-[12px] sm:text-[14px] md:text-[16px] lg:text-[18px] max-w-4xl;
}

.border-shadow {
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.06),
    0px 1px 2px -1px rgba(0, 0, 0, 0.06), 0px 2px 4px 0px rgba(0, 0, 0, 0.04);
}

.border-shadow:hover {
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.08),
    0px 1px 2px -1px rgba(0, 0, 0, 0.08), 0px 2px 4px 0px rgba(0, 0, 0, 0.06);
}

.input {
  box-shadow:
    0 1px 2px -1px rgba(15, 15, 15, 0.10),
    0 0 0 1px rgba(15, 15, 15, 0.10); 
}

/* .shadow-hover{
  box-shadow: none;
} */

.shadow-hover:hover {
  box-shadow:
    0 0 20px 0 rgba(0,0,0,0.05),   /* Increased from 0.06 to 0.15 */
    0 2px 4px 0 rgba(0,0,0,0.05),  /* Increased from 0.07 to 0.08 */
    0 1px 2px -1px rgba(0,0,0,0.05), /* Increased from 0.07 to 0.08 */
    0 0 0 1px rgba(0,0,0,0.05);     /* Increased from 0.07 to 0.08 */
}


.shadow{
  box-shadow:
  0 0 20px 0 rgba(0,0,0,0.06),   /* x0, y0, blur20, spread0, 6% */
  0 2px 4px 0 rgba(0,0,0,0.07),  /* x0, y2, blur4, spread0, 7% */
  0 1px 2px -1px rgba(0,0,0,0.07),/* x0, y1, blur2, spread-1, 7% */
  0 0 0 1px rgba(0,0,0,0.07);    /* x0, y0, blur0, spread1, 7% */
}

#company-size-select {
  height: 40px !important;
  background: white !important;
}

:root {
  --radius: 0.625rem;
  --background: #ffffff;
  --foreground: #000000;
  --border: #dddddd;
  --primary: #0088ff;
  --primary-foreground: #fcfcfc;
  --muted: #f1f1f1;
  --muted-foreground: #5e5e5e;
  --secondary: #f1f1f1;
  --secondary-foreground: #1c1c1c;
  --accent: #f1f1f1;
  --accent-foreground: #1c1c1c;

  --card: #ffffff;
  --card-foreground: #0a0a0a;
  --popover: #ffffff;
  --popover-foreground: #0a0a0a;
  --destructive: #dc2626;
  --input: #dcdcdc;
  --ring: #8e8e8e;

  --chart-1: #f97316;
  --chart-2: #06b6d4;
  --chart-3: #10b981;
  --chart-4: #f59e0b;
  --chart-5: #eab308;
  --sidebar: #f7f7f7;
  --sidebar-foreground: #0a0a0a;
  --sidebar-primary: #1c1c1c;
  --sidebar-primary-foreground: #f7f7f7;
  --sidebar-accent: #f1f1f1;
  --sidebar-accent-foreground: #1c1c1c;
  --sidebar-border: #dcdcdc;
  --sidebar-ring: #8e8e8e;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

.noise {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 256 256' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.9' numOctaves='4' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)' opacity='0.1'/%3E%3C/svg%3E");
  background-size: 256px 256px;
}
